@model KrakenNotes.Web.Models.NoteDetailsModel

@{
    ViewData["Title"] = "Details";
}

<a asp-action="Index">< Back to list</a>

<h1>@Model.Title</h1>

<hr>

<p>@Model.Description</p>

<div id="note-content">
    @Html.Raw(Model.Content)
</div>
