@model KrakenNotes.Web.Models.NoteDetailsModel

@{
    ViewData["Title"] = "Details";
}

<a asp-action="Index">< Back to list</a>

<h1>@Model.Title</h1>
    
<hr>

<iframe name="richText" style="border: 1px solid #efefef; width: 100%;" srcdoc="@Model.Content"></iframe>
