@model KrakenNotes.Web.Models.NoteEditModel

@{
    ViewData["Title"] = "Edit";
}

<a asp-action="Index">< Back to list</a>

<h1>@Model.Title</h1>

<hr>

<form>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
    </div>
</form>

<partial name="_ViewTextEditor.cshtml" model="@Model">